@grey: #8a8d8e;
@green: #92d300;
@bar-height: 40px;

.mixin-no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mixin-bg-gradient(@from, @to) {
  background: -moz-linear-gradient(top,  @from 0%, @to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to));
  background: -webkit-linear-gradient(top,  @from 0%,@to 100%);
  background: -o-linear-gradient(top,  @from 0%,@to 100%);
  background: -ms-linear-gradient(top,  @from 0%,@to 100%);
  background: linear-gradient(to bottom,  @from 0%,@to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
}

.mixin-box-shadow(@opacity: 0.3) {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, @opacity);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, @opacity);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, @opacity);
}

.mixin-transition(@property, @duration) {
  transition: @property @duration ease-in-out;
  -moz-transition: @property @duration ease-in-out; /* FF3.7+ */
  -o-transition: @property @duration ease-in-out; /* Opera 10.5 */
  -webkit-transition: @property @duration ease-in-out; /* Saf3.2+, Chrome */
}

/** animations */
.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: lighten(@grey, 40%);

  .navbar-fixed-top {
    .navbar-inner {
      border-bottom: solid 1px lighten(@grey, 10%);
    }
  }
}

.navbar {

  .brand {
    font-weight: lighter;
  }
  .corespring-logo {
    width: 82px;
    height: 30px;
    padding: 8px;
    padding-bottom: 0px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: 10px;
    background: url('/images/cs-primary-small.png') no-repeat;
  }

  a {
    cursor: pointer;
  }
}

.main-content {
  position: relative;
  top: 40px;

  .sub-menu {
    width: 100%;
    height: @bar-height;
    position: fixed;
    top: @bar-height;
    padding: 0px;
    margin-left: 0px;
    padding-top: 5px;
    padding: 0px;
    .mixin-bg-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0) );
    background-color: darken(@grey, 20%);
    border-bottom: solid 1px darken(@grey, 10%);
    color: lighten(@grey, 40%);

    .search-count {
      margin-top: 10px;
      margin-right: 20px;
      * {
        margin-right: 5px;
      }

      .icon-reorder {
        color: lighten(@green, 40%);
      }
    }

    .nav {
      margin-top: 10px;
      span {
        float: left;
      }
      .link {
        padding-left: 10px;
        float: left;
        [class^="icon-"],
        [class*=" icon-"] {
          line-height: 20px;
        }
        [class^="icon-"],
        [class*=" icon-"],
        label {
          padding-left: 5px;
          float: left;
          font-weight: lighter;
          font-size: 13px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        }
        * {
          .mixin-transition(color, 100ms);
          color: lighten(@grey, 40%);
          .mixin-no-user-select;
        }

        &:hover {
          * {
            color: lighten(@grey, 10%)
          }
        }
      }
    }

    .navbar-search {
      padding-top: 3px;
      .nudge {
        margin-left: 10px;
      }
      select {
        width: 140px;
      }

      .icon-search {
        cursor: pointer;
        font-size: 18px;
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.82);
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .search-query {
      @border-radius: 4px;
      padding: 3px;
      -webkit-border-radius: @border-radius;
      -moz-border-radius: @border-radius;
      border-radius: @border-radius;
    }

  }
}

.token-generator {
  margin: 0px;
  .well {
    padding: 10px;
  }
  .form-inline {
    * {
      margin: 5px;
    }
    label {
      font-size: 13px;
      color: @grey;
    }
  }
}

.launcher {

  .options {
    visibility: hidden;
    width: 100%;
    height: 240px;
    border-top: solid 1px darken(@grey, 35%);
    border-bottom: solid 1px darken(@grey, 35%);
    background-color: darken(@grey, 25%);
    position: absolute;
    top: @bar-height;

    .control-label,
    label {
      color: lighten(@grey, 40%);
      font-weight: lighter;
      font-size: 12px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    }
  }

  .options.show {
    visibility: visible;
  }

  .content {
    position: absolute;
    width: 100%;
    background: white;
    top: @bar-height;
    .mixin-transition(top, 200ms);
    z-index: 8;
  }

  .content.option-visible {
    top: 280px;
  }

  .CodeMirror {
    font-size: 13px;
    width: 100%;
    height: 100%;
  }

  .buttons {
    button {
      margin: 5px;
    }
  }

  .form-horizontal {
    input[type=text].controls {
      margin-left: 20px;
    }
    .js-override {
      font-style: italic;
      color: @grey;
      margin-left: 10px;
      * {
        padding: 5px;
        margin-left: 10px;
      }
    }
    .controls {
      .nudge-down {
        position: relative;
        top: 5px;
      }
    }
  }

  textarea {
    width: 100%;
    height: 800px;
  }
}

.hero-unit {
  background: none;
  h1, h2, h3, h4, h5 {
    font-weight: lighter;
    color: darken(@grey, 10%);
  }

  [class^="icon-"],
  [class*=" icon-"] {
    margin-left: 10px;
    margin-right: 10px;
  }
  p {
    color: darken(@grey, 20%);
  }
}

.welcome-view {
}

.search-and-results {

  td {
    padding: 5px;
    button {
      margin-bottom: 10px;
    }
  }

  .search-results {

    .item {
      margin-top: @bar-height * 2;
      table {
        td {
          font-size: 12px;
        }
        .title {
          text-overflow: ellipsis;
          height: 30px;
        }
      }
    }
    .header {
      position: fixed;
      top: @bar-height * 2;
      width: 100%;
      background: white;
      height: @bar-height;
      table {
        height: 100%;
        th {
          vertical-align: bottom;
          border-bottom: solid 1px lighten(@grey, 20%);
          font-weight: lighter;
          color: @grey;
        }
      }
      .mixin-box-shadow(0.2);
    }
    table {
      width: 100%;
      tr {
        border-bottom: solid 1px lighten(@grey, 30%);
        th, td {
          text-align: left;
          vertical-align: top;
          background-color: white;
        }
        .title {
          max-width: 400px;
          min-width: 200px;
          width: 400px;
        }
        .action {
          width: 100px;
        }
        .type {
          width: 270px;
        }
        .subject {
          width: 140px;
        }
        .standard {
          width: 80px;
        }
        .grade {
          width: 80px;
        }
      }
    }
  }
}

.error {
  color: #ff0000;
}

.content-toggler {
  position: relative;
  top: 10px;
  @toggler-width: 276px;
  #button {
    cursor: pointer;
    .mixin-no-user-select;

    .token-label {
      font-size: 12px;
      position: relative;
      top: -2px;
      left: 5px;
      color: darken(@grey, 15%);
    }
  }
  #content {
    width: @toggler-width;
    position: absolute;
    top: 20px;
    left: -1 * (@toggler-width / 2) + 5px;

  }

}

.icon-token-not-ok,
.icon-token-unknown,
.icon-token-ok {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.icon-token-unknown {
  color: grey;
  &:before {
    content: "\f059";
  }
}

.icon-token-not-ok {
  color: #cd302c;
  &:before {
    content: "\F06A";
  }
}

.icon-token-ok {
  color: darken(@green, 10%);
  &:before {
    content: "\f058";
  }
}
