@grey: #8a8d8e;
@green: #92d300;

body {
  font-family: 'Ubuntu', sans-serif;
}

body {

}

.navbar {

  .brand {
    font-weight: lighter;
  }
  .corespring-logo {
    width: 82px;
    height: 30px;
    padding: 8px;
    padding-bottom: 0px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: 10px;
    background: url('/images/cs-primary-small.png') no-repeat;
  }

  a {
    cursor: pointer;
  }
}

.main-content {
  position: relative;
  top: 50px;
  padding: 20px;
}

.token-generator {
  margin: 0px;
  .well {
    padding: 10px;
  }
  .form-inline {
    *{
      margin: 5px;
    }
    label {
      font-size: 13px;
      color: @grey;
    }
  }
}

.launcher {

  .CodeMirror {
    height: 520px;
    font-size: 13px;
  }

  .buttons {
    button {
      margin: 5px;
    }
  }

  .form-horizontal {
    input[type=text].controls {
      margin-left: 20px;
    }
    .js-override{
      font-style: italic;
      color: @grey;
      margin-left: 10px;
      *{
        padding: 5px;
        margin-left: 10px;
      }
    }
    .controls {
      .nudge-down{
        position: relative;
        top: 5px;
      }
    }
  }

  textarea {
    width: 100%;
    height: 800px;
  }
}

.search-and-results {

  td {
    padding: 5px;
    button {
      margin-bottom: 10px;
    }
  }

  .search-results {
    table {
      width: 100%;
      tr {
        border-bottom: solid 1px lighten(@grey, 30%);
        th, td {
          text-align: left;
          vertical-align: top;
        }
        .action {
          width: 100px;
        }
        .type {
          width: 270px;
        }
        .subject {
          width: 140px;
        }
        .standard {
          width: 80px;
        }
        .grade {
          width: 80px;
        }
      }
    }
  }
}

.error {
  color: #ff0000;
}
