.search-and-results(ng-show="appVars.accessToken")
  form(ng-controller="SearchForm")
    fieldset
      legend Find Items
      table
        tr
          td
            label Keyword
            input(type="text", placeholder="Type something…", ng-model="keyword")
          td
            label Collection
            select(ng-model="collection", ng-options="c.name for c in collections")
          td
            label &nbsp;
            button.btn-primary.pull-left.btn(type="submit", ng-click="search()") Search
      .error(ng-show="errorMessage") {{errorMessage}}
  .search-results(ng-controller="SearchResults")
    .item
      table
        tr
          th.title Title
          th.subject Primary Subject
          th.grade Grade
          th.type Item Type
          th.standard Standard(s)
          th.action Actions
        tr(ng-repeat="i in appVars.searchItems")
          td.title(ng-bind-html-unsafe="i.title")
          td.subject {{renderPrimarySubject(i.primarySubject)}}
          td.grade {{renderGrade(i.gradeLevel)}}
          td.type {{i.itemType}}
          td.standard
            a(ui-jq="tooltip", ui-options="{title: buildStandardTooltip(i.standards)}") {{buildStandardLabel(i.standards)}}
          td.action
            button.btn-success.btn-small(ng-click="getCode(i)") Get Code
    .error(ng-show="appVars.searchCount == 0") No items found
