extends layout

block head
  != css("app")

block content
  include bits/navbar

  .main-content
    include bits/tokenGenerator
    include bits/findItems
block scripts

  script(type="text/javascript")
    $(document).ready(function(){
        console.log("jquery loaded");
    });

  != js("app")