mixin search-form(legend)
  form(ng-controller="SearchForm")
    fieldset
      legend #{legend}
      table
        tr
          td
            label Keyword
            input(type="text", placeholder="Type something…", ng-model="keyword")
          td
            label Collection
            select(ng-model="collection", ng-options="c.name for c in collections")
          td
            label &nbsp;
            button.btn-primary.pull-left.btn(type="submit", ng-click="search()") Search
