mixin search-form(legend)
  form
    fieldset
      legend #{legend}
      table
        tr
          td
            label Keyword
            input( type="text", placeholder="Type something…")
          td
            label Collection
            input( type="text", placeholder="Type something…")
          td
            label Collection
            input( type="text", placeholder="Type something…")
          td
            label
            button.pull-left.btn(type="submit") Submit
