.container
  .navbar.navbar-fixed-top
    .navbar-inner(ng-controller="Navbar")
      ul.nav
        span.corespring-logo
        a.brand Player - Developer Toolkit
      ul.nav
        li
          include tokenGenerator

      ul.pull-right.nav
        li(ng-class="{active: isActive('/search')}")
          a(ng-click="navTo('/search')") Find Items
        li(ng-class="{active: isActive('/launcher')}")
          a(ng-click="navTo('/launcher')") Launcher
