.container
  .navbar.navbar-fixed-top
    .navbar-inner(ng-controller="Navbar")
      ul.nav
        span.corespring-logo
        a.brand Player - Developer Toolkit
      ul.nav
        li
          include tokenGenerator

      ul.pull-right.nav
        li
          a(href="http://github.com/corespring/developer-toolkit")
            i.icon-github(style="font-size: 20px; color: #333333") &nbsp;

        li(ng-class="{active: isActive('/search')}")
          a(ng-click="navTo('/search')") Find Items
        li(ng-class="{active: isActive('/launcher')}")
          a(ng-click="navTo('/launcher')") Launcher
