.container
  .navbar.navbar-fixed-top
    .navbar-inner
      ul.nav
        span.corespring-logo
        a.brand Player - Developer Toolkit
      ul.nav
        li

      ul.pull-right.nav
        li.active
          a Find Items
        li
          a Api Console
