.token-generator(ng-controller="TokenGenerator")
  .well

    .form-inline
      label Access Token
      input.input(type="text", placeholder="your token here..")
      label don't have one? generate one
      input.input-small(type="text", placeholder="clientId")
      input.input-small(type="text", placeholder="clientSecret")
      button.btn-small.btn-success Generate

