.token-generator(ng-controller="TokenGenerator")
  .well
    .form-inline
      input.input(type="text", placeholder="clientId", ng-model="appVars.clientId")
      input.input(type="text", placeholder="clientSecret", ng-model="appVars.clientSecret")
      button.btn-small.btn-success(ng-click="generateToken()") {{generateButtonLabel}}
      input.input(type="text", placeholder="your token here..", ng-model="appVars.accessToken")
