.token-generator(ng-controller="TokenGenerator")
  .well

    .form-inline
      label Access Token
      input.input(type="text", placeholder="your token here..", ng-model="appVars.accessToken")
      label Generate one
      input.input(type="text", placeholder="clientId", ng-model="clientId")
      input.input(type="text", placeholder="clientSecret", ng-model="clientSecret")
      button.btn-small.btn-success(ng-click="generateToken()") {{generateButtonLabel}}

