body{font-family:'Ubuntu',sans-serif;}
.navbar .brand{font-weight:lighter;}
.navbar .corespring-logo{width:82px;height:30px;padding:8px;padding-bottom:0px;display:block;float:left;margin-left:10px;margin-top:0px;margin-bottom:0px;position:relative;top:10px;background:url('/images/cs-primary-small.png') no-repeat;}
.navbar a{cursor:pointer;}
.main-content{position:relative;top:50px;padding:20px;}
.token-generator{margin:0px;}.token-generator .well{padding:10px;}
.token-generator .form-inline *{margin:5px;}
.token-generator .form-inline label{font-size:13px;color:#8a8d8e;}
.launcher .CodeMirror{height:520px;font-size:13px;}
.launcher .buttons button{margin:5px;}
.launcher .form-horizontal input[type=text].controls{margin-left:20px;}
.launcher .form-horizontal .js-override{font-style:italic;color:#8a8d8e;margin-left:10px;}.launcher .form-horizontal .js-override *{padding:5px;margin-left:10px;}
.launcher .form-horizontal .controls .nudge-down{position:relative;top:5px;}
.launcher textarea{width:100%;height:800px;}
.search-and-results td{padding:5px;}.search-and-results td button{margin-bottom:10px;}
.search-and-results .search-results table{width:100%;}.search-and-results .search-results table tr{border-bottom:solid 1px #d8d9d9;}.search-and-results .search-results table tr th,.search-and-results .search-results table tr td{text-align:left;vertical-align:top;}
.search-and-results .search-results table tr .action{width:100px;}
.search-and-results .search-results table tr .type{width:270px;}
.search-and-results .search-results table tr .subject{width:140px;}
.search-and-results .search-results table tr .standard{width:80px;}
.search-and-results .search-results table tr .grade{width:80px;}
